<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="E_Police_Record_ManagementConnectionString" connectionString="Data Source=SHAHNOOR;Initial Catalog=E_Police_Record_Management;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="E_Police_Record_ManagementConnectionString2" connectionString="Data Source=SHAHNOOR;Initial Catalog=E_Police_Record_Management;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="E_Police_Record_ManagementConnectionString3" connectionString="Data Source=SHAHNOOR;Initial Catalog=E_Police_Record_Management;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="E_Police_Record_ManagementConnectionString4" connectionString="Data Source=SHAHNOOR;Initial Catalog=E_Police_Record_Management;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="E_Police_Record_ManagementConnectionString5" connectionString="Data Source=SHAHNOOR;Initial Catalog=E_Police_Record_Management;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="E_Police_Record_ManagementConnectionString6" connectionString="Data Source=SHAHNOOR;Initial Catalog=E_Police_Record_Management;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
